<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


    <!--############################## WINK CONFIGURATIONS #########################################################-->

    <bean id="generalResource" class="org.opentaps.module.ws.rest.resources.ApiAbstractResource" abstract="true">
        <property name="mapper" ref="mapper"/>
    </bean>

    <!--Resources definitions-->
    <bean id="resource.wadl" class="org.opentaps.module.ws.rest.resources.Wadl" />
    <bean id="resource.catalog" class="org.opentaps.module.ws.rest.resources.catalog.CatalogResponse"/>
    <bean id="resource.product" class="org.opentaps.module.ws.rest.resources.product.ProductsResource"/>
    <bean id="resource.leads" class="org.opentaps.module.ws.rest.resources.lead.LeadsResource"/>

    <!--Billing Domain-->
    <bean id="resource.invoice" class="org.opentaps.module.ws.rest.resources.billing.InvoiceResourceImp"
          parent="generalResource"/>
    <bean id="resource.payment" class="org.opentaps.module.ws.rest.resources.billing.PaymentResourceImp"
          parent="generalResource"/>


    <!--Providers definitions-->
    <bean id="provider.generalRuntimeErrorException"
          class="org.opentaps.module.ws.rest.provider.GeneralRuntimeErrorExceptionMapper"/>
    <bean id="provider.opentapsContextResoler" class="org.opentaps.module.ws.rest.provider.OpentapsContextResolver"/>
    <bean id="provider.commonExceptionMapper"
          class="org.opentaps.module.ws.rest.resources.common.CommonExceptionMapper"/>
    <bean id="provider.restApiExceptionMapper"
          class="org.opentaps.module.ws.rest.provider.RestApiErrorExceptionMapper"/>


    <bean id="registrar" class="org.apache.wink.spring.Registrar">
        <property name="instances">
            <set>
                <ref bean="resource.wadl" />
                <ref bean="resource.catalog"/>
                <ref bean="resource.product"/>
                <ref bean="resource.leads"/>
                <ref bean="resource.invoice"/>
                <ref bean="resource.payment" />

                <ref bean="provider.generalRuntimeErrorException"/>
                <ref bean="provider.opentapsContextResoler"/>
                <ref bean="provider.commonExceptionMapper"/>
                <ref bean="provider.restApiExceptionMapper"/>
            </set>
        </property>
    </bean>


    <bean id="customPropertiesFactory" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:rest-api.properties</value>
            </list>
        </property>
    </bean>


    <bean id="customConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="order" value="1"/>
        <property name="propertiesArray">
            <list>
                <props>
                    <prop key="wink.propertiesFactory">customPropertiesFactory</prop>
                </props>
            </list>
        </property>
    </bean>


    <!--############################## DOZER CONFIGURATIONS #########################################################-->

    <bean id="mapper" class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles" value="classpath:Billing_DMappings.xml"/>

    </bean>




    <!--############################## DOZER CONFIGURATIONS #########################################################-->
    <!--todo we should move this somehow-->


    <bean id="resource.magento.products" class="org.opentaps.module.magento.ws.resources.MagentoProductResourceImp"
          parent="generalResource"/>

      <bean id="registrarMagento" class="org.apache.wink.spring.Registrar">
        <property name="instances">
            <set>
                <ref bean="resource.magento.products" />
            </set>
        </property>
    </bean>


</beans>